$menu-grid:       8px         !default;
$menu-z-index:    96          !default;

$menu-bg:         #fafafa     !default;
$menu-color:      #757575     !default;
$menu-separator:  #eee        !default;
$menu-item-hover: #eee        !default;

$menu-link:       $menu-color !default;
$menu-link-hover: #444        !default;
