$menu-grid:       8px;
$menu-z-index:    96;

$menu-bg:         #fafafa;
$menu-color:      #757575;
$menu-separator:  #eee;
$menu-item-hover: #eee;

$menu-link:       $menu-color;
$menu-link-hover: #444;
